<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile Page</title>
    <% include partials/head %>
  </head>
  <body>
    
      <header>
        <h1>Profile Page</h1>
        <a href="/logout">Logout</a>
      </header>   
     <h3>Local</h3>
      <p>
        <strong>id</strong> : <%= user._id %> <br>
        <strong>email</strong> : <%= user.local.email %> <br>        
        <strong>password</strong> : <%= user.local.password %>
      </p>                        
      <a href="/logout">Logout</a>           
  </body>
</html>
