.login {
  background: #2f79ab;  
background: -webkit-linear-gradient(to right, #63aee0, #2f79ab);  
background: linear-gradient(to right, #63b2e0, #2f79ab); 
}

.signup {
  background: #180028;  
  background: -webkit-linear-gradient(to right, #928400, #222800); 
  background: linear-gradient(to right, #7c9200, #272800); 
}
